[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart=/usr/local/bin/kube-controller-manager \
  --cluster-name=kubernetes-the-hard-way \
  --cluster-signing-cert-file=/var/lib/kubernetes/ca.crt \
  --cluster-signing-key-file=/var/lib/kubernetes/ca.key \
  --kubeconfig=/var/lib/kubernetes/controller-manager.conf \
  --leader-elect=true \
  --root-ca-file=/var/lib/kubernetes/ca.crt \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
