[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart=/usr/local/bin/kube-apiserver \
  --advertise-address=127.0.0.1 \
  --allow-privileged=true \
  --audit-log-path=/var/log/audit.log \
  --authorization-mode=AlwaysAllow \
  --token-auth-file=/var/lib/kubernetes/tokens.csv \
  --basic-auth-file=/var/lib/kubernetes/basic_auth.csv \
  --anonymous-auth=true
  --enable-bootstrap-token-auth=true \
  --client-ca-file=/var/lib/kubernetes/ca.crt \
  --enable-swagger-ui=true \
  --etcd-cafile=/var/lib/kubernetes/ca.crt \
  --etcd-certfile=/var/lib/kubernetes/kube-apiserver.crt \
  --etcd-keyfile=/var/lib/kubernetes/kube-apiserver.key \
  --etcd-servers=https://127.0.0.1:2379 \
  --runtime-config=api/all \
  --tls-cert-file=/var/lib/kubernetes/kube-apiserver.crt \
  --tls-private-key-file=/var/lib/kubernetes/kube-apiserver.key \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
